footer {
    background-color: white;
    display: inline-block;
    width: 100%;
}

img {
    margin: 0.5em;
    width: 5em;
}

p {
    color: #92C186;
    display: inline;
    vertical-align: 50%;
    font-family: 'Roboto';
}