header {
    background-color: white;
    width: 100%;
    position: relative;
}

img {
    height: 100%;
    width: 40%;
}

ul {
    bottom: 1em;
    right: 0;
    position: absolute;
    width: 60%;
}

li {
    margin: auto 10%;
    float: right;
}

a {
    font-family: 'Roboto';
    text-decoration: none;
    color: #92C186;
    font-weight: bold;
    font-size: 1.2em; 
}