header {
    background-color: white;
    width: 100%;
    position: relative;
}

nav ul {
    bottom: 10px;
    right: 0;
    position: absolute;
}

li {
    display: inline;
    margin-right: 400px;
}

a {
    font-family: 'Roboto';
    text-decoration: none;
    color: #92C186;
    font-weight: bold;
}