p, h2 {
    color: #92C186;
    font-family: 'Roboto';    
    font-size: 1.5em; 
}

p {
    display: inline-block;
    width: 40%;
    margin: auto 1em;
    line-height: 1.4em;
}

img {
    width: 40%;
    height: 80%;
    margin: auto 0.5em;
}

h2 {
    margin-top: 1em;    
    font-weight: bold;
    text-align: center;
}

section {
    border-radius: 15px;
    background-color: white;
    margin: 1.6% 6%;
    float: left;
    width: 45em;
    height: 23em;
    position: a;
}

strong {
    font-weight: bolder;
}