p, h2 {
    color: #92C186;
    font-family: 'Roboto';    
    font-size: 1.5em; 
}

p {
    display: inline-block;
    width: 40%;
    margin: 1em;
}

img {
    width: 40%;
    margin: auto 1em;
}

h2 {
    margin-top: 1em;    
    font-weight: bold;
    font-size: 1.5em; 
    text-align: center;
}

section {
    border-radius: 15px;
    background-color: white;
    width: 30%;
    margin: 1.6% 1.6%;
    float: left;
    width: 35em;
    height: 23em;    
}
